@font-face {
    font-family: 'STAR WARS';
    src: url('../../assets/fonts/starwars/starjedi/Starjedi.ttf');
    // one of 4 fonts available. to change swap the url
    // options at https://www.dafont.com/star-jedi.font
}

h1 {
    font-family: 'STAR WARS';
}